@model ReadingFiles.Models.ReceivedFile

@{
    ViewBag.Title = "File Manager Test";
}

<h2>Receive File</h2>

@using (Html.BeginForm())
{
    <div>
        <input value="View Files" input type="submit" />
    </div>
}